.primary-button {
  background: #F2AA4C;
  padding: 12px 18px;
  border: 1px solid transparent;
  color: #101820;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none; /* ✅ this line removes underline */
  display: inline-block;
  text-align:center;
}

.primary-button:hover {
  background: #222222;
}

.secondary-button {
  background: #F2AA4C;
  padding: 12px 18px;
  border: 1px solid transparent;
  color:#101820 ;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none; /* ✅ this line removes underline */
  display: inline-block;
  text-align:center;
  
}

.secondary-button:hover {
  background: #F0F0F0;
}
