.card {
  width: 100%;
  background: #F2AA4C;
  border: 1px solid #101820;
  border-radius: 14px;
  overflow: hidden;
  border-bottom:#e8491d 3px solid;
}

.card-header img {
  width: 100%;
  object-fit: cover;
}

.card-header h2 {
  font-size: 20px;
  padding: 14px 18px;
}

.card-body {
  padding: 0 18px;
}

.card-footer {
  padding: 14px 18px;
  color:#F2AA4C;
  
  
}
