#header {
  background:#101820;
  border-bottom:#F2AA4C 3px solid;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items:center;
  color:#F2AA4C;
  padding: 24px 20px;
}

.nav-links {
  display: flex;
  align-items: center ;
  gap: 24px; 
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #F2AA4C;
  text-decoration: none;

}

.menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    background:#333333;
    padding-bottom: 20px;
  }
  
  .menu-btn {
    display: inline-block;
  }

  .menu-toggle:checked~.nav-links {
    display: flex;
  }
}
